In [9]:
# locate rows of duplicate data
from pandas import read_csv

Rows that have identical data are could be useless to the modeling process, if not dangerously
misleading during model evaluation. Here, a duplicate row is a row where each value in each
column for that row appears in identically the same order (same column values) in another row.

In [27]:
import pandas as pd

In [28]:
# load the dataset
df = pd.read_csv('iris.csv', header=None)

In [29]:
df.shape

(150, 5)

In [18]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [20]:
# calculate duplicates
x = df.duplicated()

In [21]:
# report if there are any duplicates
print(dups.any())

True

In [23]:
# list all duplicate rows
print(df[x])

       0    1    2    3               4
34   4.9  3.1  1.5  0.1     Iris-setosa
37   4.9  3.1  1.5  0.1     Iris-setosa
142  5.8  2.7  5.1  1.9  Iris-virginica

In [25]:
df.drop_duplicates(inplace=True)

In [26]:
df.shape

(147, 5)

In [24]:
df.head(2)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa

From a probabilistic perspective, you can think of duplicate data as adjusting the priors for
a class label or data distribution.

In [8]:
# delete rows of duplicate data from the dataset
from pandas import read_csv
# load the dataset
df = read_csv('iris.csv', header=None)
print(df.shape)
# delete duplicate rows
df.drop_duplicates(inplace=True)
print(df.shape)

(150, 5)
(147, 5)